@page
@model CoreRelatorioFA.Pages.Invoices.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Invoicing</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoicing.UstValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoicing.UstValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoicing.UstValueIniDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoicing.UstValueIniDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoicing.UstValueEndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoicing.UstValueEndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoicing.Contract)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoicing.Contract.Sap)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Invoicing.InvoiceId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
