@page
@model CoreRelatorioFA.Pages.Contracts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contract[0].Sap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract[0].Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract[0].Company)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Contract) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.CompanyName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ContractId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ContractId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ContractId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
